

.sidenav {
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 35%;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    /* font-size: 1em; */
    background-color: transparent;
}
.mainTitle p{
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  display: block;
  text-decoration: underline;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    display: block;
}



.sidenav a:hover {
    color: #064579;
    text-decoration: underline;
}

.border {
  border-left: 1px solid white;

  border-radius: 6px;

}
.card {
  width: 220px;
  height: 260px;
  border-radius: 10px;
  font-family: 'Ubuntu', sans-serif;
  /* transition: box-shadow 1s; */

}
.main img {
  height: 200px;
}
.card:hover {
  box-shadow: 10px 10px black;
}

.row {
  margin-top: 5%;
  padding-left: 5%;
}

@media only screen and (max-width:1050px) {

.sidenav {
  display: none;
}

}



@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
